.dub
docs.json
__dummy.html
docs/
/langdemokoll
langdemokoll.so
langdemokoll.dylib
langdemokoll.dll
langdemokoll.a
langdemokoll.lib
langdemokoll-test-*
*.exe
*.o
*.obj
*.lst
test.*
test.d
.vs/langdemokoll/v15/.suo
langdemokoll.sln
_ *